*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    min-height: 100vh;
    min-width: 100vw;
}

body{
    background-color: rgb(229, 233, 233);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center; 
}

.todo_list{
    width: 70%;
    min-width: 650px;;
    margin-top: 5rem;
}

#txtNewTask{
    width: 80%;
}

#btnAdd{
    width: 15%;
    display: inline;
}

.result{
    display: flex;
    padding-top: 2rem;
}

#viewTotal{
    display: inline;
}

#viewDone{
    display: inline;
}

.pin{
    display: inline;
}

.total{
    width: 30%;
}

.total div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.total div p{
    width: 50%;
}

.list_tasks{
    display: flex;
}

#listTasks{
    width: 70%;
}

.list_tasks{
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    text-align: center;
}

.item1{
    width: 5%;
    text-align: left;
}

.item2{
    width: 70%;
    text-align: left;
    font-weight: 500;
}

.item3{
    width: 25%;
    text-align: center;
}

.title{
    font-weight: 700;
}

.action{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

.icon{
    
    color:rgb(196, 69, 69);
    font-weight: 700;
}

.icon:hover{
    font-weight: 800;
    color: rgb(245, 8, 8);
    cursor:pointer;
}